<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="stylesheet" href="ASSETS/CSS/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="ASSETS/IMG/mariobox.png" width="55" height="45" alt="icon">
            <ul>
                <li >
                   <a href="/">Home</a>
                 </li>
                <li >
                   <a id="blog" href="/project">Add Blog</a>
                 </li>
                 <li >
                    <a href="/testimonial">Testimonials</a>
                  </li>
            </ul>
        </div>
        <div class="right-nav">
            <a href="/contact">
                <button>Contact Me</button>
            </a>
        </div>
        <div id="barMenu">
            <button onclick="openBar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>

    <div class="navContainer"> 
        <a href="/">Home</a>
        <a href="/project" id="blog">My Project</a>
        <a href="/testimonial">Testimonials</a>
        <a href="/contact">
            <button>Contact Me</button>
        </a>
    </div>



    <!-- Form -->
    <section id="addPost">
        <div class="container">
            <h2>Add New Post</h2>
                <form action="/project" method="POST">
                <label for="projectName">project name</label>
                <input type="text" name="projectName" id="projectName">
                <div class="dateInput">
                    <div style="margin-right: 5px;">
                        <label for="startDate" >start date</label>
                        <input type="date" name="startDate" id="startDate">
                    </div>
                    <div style="margin-left: 5px;">
                        <label for="endDate">end date</label>
                        <input type="date" name="endDate" id="endDate">
                    </div>
                </div>

                <label for="description">description</label>
                <textarea id="description" name="description" cols="30" rows="5"></textarea>
    
                <label>technologoies</label>
                <div class="tech">
                    <div>
                        <input type="checkbox" id="nodejs" style="margin-right: 10px;" value="nodejs">
                        <label for="nodejs">node js</label>
                    </div>
                    <div>
                        <input type="checkbox" id="golang" style="margin-right: 10px;" value="golang">
                        <label for="golang">golang</label>
                    </div>
                    <div >
                        <input type="checkbox" id="reactjs" style="margin-right: 10px;" value="reactjs">
                        <label for="reactjs">react js</label>
                    </div>
                    <div>
                        <input type="checkbox" id="sql" style="margin-right: 10px;" value="sql">
                        <label for="sql">sql</label>
                    </div>    
                </div>
                <label for="image">upload image</label>
                <div class="uploadImage">
                    <input type="file" id="image" />
                    <i class="fa-solid fa-paperclip"></i>
                </div>
                <div id="button">
                    <button id="submit">Create post</button>
                </div>
            </form>
        </div>
    </section>
    <!-- End Form -->

    <!-- <script src="ASSETS/JS/index.js"></script>     -->
</body>
</html>