<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="/ASSETS/CSS/project-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="/ASSETS/IMG/mariobox.png" width="55" height="45" alt="icon">
            <ul>
                <li >
                   <a href="/">Home</a>
                 </li>
                <li >
                   <a id="blog" href="/project">Add Blog</a>
                 </li>
                 <li >
                    <a href="/testimonial" id="testi">Testimonials</a>
                  </li>
            </ul>
        </div>
        <div class="right-nav">
            <a href="/contact">
                <button>Contact Me</button>
            </a>
        </div>
        <div id="barMenu">
            <button onclick="openBar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>

    <div class="navContainer"> 
        <a href="/">Home</a>
        <a href="/project" >My Project</a>
        <a href="/testimonial" id="testi">Testimonials</a>
        <a href="/contact">
            <button>Contact Me</button>
        </a>
    </div>

  
    <div class="container">
        <h1>dumbways web app</h1>
        <div class="content">
            <div class="picture">
                <img src="/ASSETS/IMG/hacker.jpg" alt="">
            </div>
            <div class="information">
                <div class="duration">
                    <h3>Duration</h3>
                    <div id="distanceTime">
                        <i class="fa-solid fa-calendar"></i>
                        <span> 23 Jan 1888 - 20 Jun 1889 | ID: {{.Id}}</span>
                    </div>
                    <div id="distanceMonth">
                        <i class="fa-solid fa-clock"></i>
                        <span>3 Month</span>
                    </div>
                </div>
                <div class="technologies">
                    <h3>Technologies</h3>
                    <div class="technologyIcon">
                        <span>
                            <img src="/ASSETS/IMG/reactjs.png" alt="reactjs">
                            ReactJS
                        </span>
                        <span>
                            <img src="/ASSETS/IMG/golangicon.png" alt="golang">
                            Golang
                        </span>
                        <span>
                            <img src="/ASSETS/IMG/nodejs.png" alt="nodejs">
                            NodeJS
                        </span>
                        <span>
                            <img src="/ASSETS/IMG/sql.png" alt="sql">
                            Sql
                        </span>
                    </div>
                </div>
            </div>            
        </div>

        <div class="text">
            <p>
                Bagaimana pemberontakan tersebut berjalan? Pemberontakan PKI Madiun diawali dengan melancarkan propaganda anti pemerintah dan pemogokan kerja oleh kaum buruh. Selain itu pemberontakan juga dilakukan dengan menculik dan membunuh 
                beberapa tokoh negara. Seperti Penembakan terhadap Kolonel Sutarto pada 2 Juli 1948, penculikan dan pembunuhan terhadap Gubernur Jawa Timur pertama RM. Ario Soerjo yang kebetulan berkunjung ke Ngawi dan kemudian dicegat oleh kelompok Amir 
                pada 10 September 1948. Serta  penculikan dan pembunuhan kepada Dr. Moewardi pada 13 September 1948 yang merupakan tokoh penting dalam peristiwa Proklamasi Kemerdekaan Indonesia. Puncak pemberontakan tersebut terjadi pada 
                18 September 1948, saat pemberontak berhasil menguasai kota Madiun dan mengumumkan lahirnya Republik Soviet Indonesia. Mereka pun menguasai tempat strategis, melakukan sabotase, perusakan pembakaran sarana dan prasarana, serta  
                melakukan pembunuhan terhadap orang-orang yang anti PKI.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quidem, fugit praesentium sed fugiat, vitae animi nihil deleniti magnam laudantium mollitia ad culpa reprehenderit tempora minima cumque obcaecati unde aliquam!
                Vitae mollitia illo, assumenda odit non voluptate rem porro repellendus voluptatum tempore quibusdam similique tempora officia. Nobis, perspiciatis ducimus. Sunt voluptatibus recusandae incidunt dolores similique veniam, hic maiores ex necessitatibus!
                Sit quasi modi, harum, accusantium delectus recusandae tenetur, ut facilis ab voluptatem maxime? Ratione similique, illo mollitia placeat dolorum beatae. Tempora consectetur cum laborum, necessitatibus quas perferendis nisi at repudiandae.
                Aliquam expedita facilis est tempora quibusdam, non quae, tempore quis eligendi corporis doloremque quasi fugiat, pariatur sed adipisci sint itaque. Quos laboriosam debitis perspiciatis doloremque provident voluptates rem esse optio.
            </p>
            <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat nam ipsam dolores commodi veniam ipsa cupiditate saepe, reprehenderit repellat eos accusamus quibusdam voluptatibus temporibus autem voluptates sunt repudiandae iste. Necessitatibus.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ex hic soluta at magni sint est sapiente corrupti dignissimos incidunt consequatur temporibus, omnis perferendis quae neque deserunt itaque consequuntur natus.
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas porro quia, quo, sequi neque ex unde assumenda deserunt, est fugit facere eius ullam dolorum nostrum consequuntur. Quidem beatae similique excepturi.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laudantium dolores aspernatur accusamus! Dolorum ut dolore, quidem sunt temporibus dignissimos modi quibusdam voluptates, exercitationem voluptatibus, id labore veniam tenetur ab!
            </p>
        </div>
    </div>
    <script src="ASSETS/JS/index.js"></script>
</body>
</html>